<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="col-md-6">

  <h1>New dates</h1>

  <hr />
  <label for="">Start Date:</label>
  <input type="date" id="start-date" />
  <label for="">End Date: </label>
  <input type="date" id="end-date" />

</div>